body {
	font-size: 80%;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 0.15em;
	background-color: #efefef;
}

section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 650px;
}
    

.mountain {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 275px;
    width: 650px;
}

div img.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.clearfix {
    width: 75%;
    height: 1px;
    display: block;
    clear: both;
    background-color: black;
}

.clearfixR {
    width: 50%;
    height: 2px;
    display: block;
    clear: both;
    margin: 20px auto 20px auto;
    background-color: black;
}

.reflection {
    width: 950px;
    padding: 20px;
    margin: 20px auto 20px auto;
    text-align: center;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 950px;
}

.nav ul {
    width: 900px;
    padding: 15px;
    margin: 0px auto 0px auto;
    text-align: center;
}

.nav li {
    display: inline;
    margin: 0px 10px;
    /* Rectangle 2: */
    background: rgba(41,121,196,0.55);
    border: 1px solid #2A79C4;
    border-radius: 32px;
}

p.center {
    text-align: center;	
}

p.left {
    
    text-align: left;
}

.textcontainer {
     display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 950px;
    text-align: center;
}

a {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
}

a:hover {
    color: #cc7453;
    background-color: ##2A79C4;
}




    
