h1 {
	font-family: 'Indie Flower', cursive, sans-serif;
}


body {
	background-color:#1884ED;
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin:100px;
}

h2 {
	
}
.purple
	{	color: purple;
	}